<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CAS Project Setup</title>
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to CAS Project Setup</h1>
        <p class="lead">Hello World!</p>
        <hr class="my-4">
        <p>This page provides two different bots, one with topic and social skill and the other with same topic but no social skills</p>
        <a class="btn btn-primary btn-lg" href="/demo/demo/chat" target="_blank" role="button">Topic with social skills chatbot</a>
        <a class="btn btn-primary btn-lg" href="/demo_2/demo_2/chat" target="_blank" role="button">Topic without social skills chatbot</a>
      </div>
  </body>
</html>
